.btn {
	padding: 17px 22px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.77;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	padding: 10px 15px;
	transition: all .2s ease-in-out;
}




.btn--brand {
	background: $c-brand;
	color: #fff !important;

	&:hover {
		background: darken($c-brand, 5);
	}
}

