//color variables
$c-brand     : #006441;

$c-txt    : #7c7c7c;
$c-gray   : #f5f5f5;


//fonts variables
$font-def : 'Quicksand', sans-serif;
$font-sec : 'Roboto Slab', serif;


// transitions 
$cubic-in-out: cubic-bezier(0.65, 0.05, 0.36, 1);
